doctype html
html
  head
    meta(charset='utf-8')
    title AO3 Enhancements Options
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='icon', type='image/svg+xml', href='../icons/icon.svg')
    link(rel='alternate icon', href='../icons/icon.ico')
    link(href='./style.css', rel='stylesheet')
  body
    if polyfill
      script(
        src='~file-loader?name=[name].[ext]!webextension-polyfill/dist/browser-polyfill.min.js'
      )
    script(src='./options_ui.ts?entry')
