@import url('@unocss/reset/eric-meyer.css');

button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  background: unset;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance:textfield;
}
