extends ../common/layout.pug

block title
  title AO3 Enhancements Options

block extrahead
  if prod
    link(href!='./options_ui.ts?entry&css', rel='stylesheet')

block scripts
  script(src='./options_ui.ts?entry')
