html {
  overflow-y: auto !important;
}

body {
  background-color: #e4e4e4;
  background-repeat: repeat;
  background-size: auto auto;
  background-image: url('background.svg');
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0a;
  }
}

.v-application {
  background: none !important;
}
