extends ../common/layout.pug

block title
  title AO3 Enhancements Reading List

block extrahead
  if prod
    link(href!='./reading_list.ts?entry&css', rel='stylesheet')
  style.
    body {
      overflow: hidden;
    }

block scripts
  script(src='./reading_list.ts?entry')
