.AO3E.AO3E--work-hidden--msg
  span
    span(title='This work is hidden.') !{mdiEyeOff}
    span(hidden, title='This work was hidden.') !{mdiEye}
    em= reasons.join(" | ")
  .actions 
    a !{mdiEye} Show
