/* Work images max width */
#workskin img {
  max-width: 100%;
}

*[data-ao3e-hidden] {
  display: none !important;
}

dl.stats {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: flex-start;
  float: none !important;

  > * {
    padding: 0;
  }

  dd,
  dt {
    margin: 0 0.375em auto 0;
  }

  > div {
    display: flex;
    flex-direction: row;
  }
}

.blurb dl.stats {
  justify-content: flex-end;
}

dd.finish-at {
  > span {
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      outline: dotted;
      outline-width: 1px;
    }
  }
}

.AO3E {
  svg {
    display: inline-block;
    position: relative;
    top: 0.15em;
    height: 1em;
    width: 1em;
    color: currentColor !important;
  }
}

.AO3E--hide-works--msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AO3E--hide-works--wrapper {
  padding-top: 0.5em;
}

.AO3E--tools {
  a.dropdown-toggle {
    display: flex !important;

    svg {
      font-size: 1.5em;
      top: -2px;
      margin-right: 0.25em;
    }
  }

  li a {
    display: flex !important;
    justify-content: space-between;

    svg {
      height: 16px;
      width: 16px;
    }
  }
}
