.AO3E--work-hidden--msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AO3E--work-hidden--msg .AO3E--icon {
  display: inline-flex;
  height: 1em;
  width: 1em;
  margin-right: 0.25em;
  pointer-events: none;
  top: 0.0625em;
  position: relative;
}

*[hidden] {
  display: none !important;
}

.AO3E--tools a.dropdown-toggle {
  display: flex !important;
}

.AO3E--tools a.dropdown-toggle svg {
  position: relative;
  top: -1px;
  height: 16px;
  width: 16px;
  margin-right: 0.25em;
  color: currentColor !important;
}

.AO3E--tools .AO3E--tools--options a {
  display: flex !important;
  justify-content: space-between;
}

.AO3E--tools .AO3E--tools--options a svg {
  height: 16px;
  width: 16px;
}

.stats > * {
  padding: 0;
}

dl.stats {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: flex-start;
  float: none !important;
}

.blurb dl.stats {
  justify-content: flex-end;
}

dl.stats::after {
  content: ' ';
  flex: auto;
}

.blurb dl.stats::after {
  content: none;
  flex: none;
}

dl.stats > div {
  display: flex;
  flex-direction: row;
}

dl.stats dd,
dl.stats dt {
  margin: 0 0.375em auto 0;
}

#workskin img {
  max-width: 100%;
}
.AO3E--blurb-wrapper {
  padding-top: 0.5em;
}

.blurb p.status {
  position: absolute;
  right: 1em;
  width: auto !important;
  margin-top: 0.25em;
  z-index: 1;
  display: flex;
}

.blurb p.status > * {
  position: revert;
  margin-left: 0.5em;
  cursor: help;
}

.blurb.has-status .datetime {
  top: 28px;
}

.blurb p.status .AO3E--icon {
  height: 25px;
}

.work.meta .AO3E--icon {
  height: 16px;
  margin-right: 0.25em;
}

dd.finish-at > span {
  cursor: pointer;
}

dd.finish-at > span:hover,
dd.finish-at > span:focus,
dd.finish-at > span:active {
  outline: dotted;
  outline-width: 1px;
}

.finish-at .AO3E--icon {
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  position: relative;
  top: 2px;
}

.preface a:hover {
  text-decoration: none;
}
