.work-hidden--msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: inline-flex;
  height: 1em;
  width: 1em;
  margin-right: 0.25em;
  pointer-events: none;
}

*[hidden] {
  display: none !important;
}
